# Dependency directories
node_modules/

# Optional npm cache directory
.npm


# dotenv environment variables file
.env
.env.test

# parcel-bundler cache (https://parceljs.org/)
.cache

# Local/Temp data
/data