# If the client & backend is deploys to the same server => REACT_APP_BACKEND_URL === REACT_APP_CLIENT_URL
REACT_APP_BACKEND_PORT=5000 # Port to serve backend locally
REACT_APP_BACKEND_URL= # Ex: http://api.com/ => your production api if in production
REACT_APP_CLIENT_URL= # Ex: http://client.com/ => your production client if in production
NODE_ENV=development # OR production
SESSION_DURATION=60 # Number of mins to keep user logged in
MONGODB_URI= # Link From mLab OR MongoDB Atlas to connect to mongoDB
JWT_SECRET= # Ex: secret2
GOOGLE_CLIENT_ID= # For Google OAuth
GOOGLE_CLIENT_SECRET= # For Google OAuth
GOOGLE_DRIVE_CREDENTIALS={} # Paste the json object all in one line of the generated service account credentials json file: https://dev.to/mornir/create-a-service-account-to-authenticate-with-google-5b1k